$color-blue-dark: #007bff;
$color-white: #ffffff;
$color-black: #000;
$color-grey: #808080;
$color-orange: #f54a12;
$color-light-grey: #d1d1d1;
$color-dark-grey: #31312f;
$toolbar-background: #ffffff ;
$body-background: #ffffff;
$footer-color: #b8b8b8;

