@font-face {
  font-family: 'Geometos';
  src: url('src/assets/fonts/geometos/geometos-webfont.woff2') format('woff2'),
  url('src/assets/fonts/geometos/geometos-webfont.woff') format('woff'),
  url('src/assets/fonts/geometos/geometos-webfont.svg#geometosregular') format('svg'),
  url('src/assets/fonts/geometos/Geometos.ttf');
  font-weight: normal;
  font-style: normal;
}
